<<<<<<< HEAD
html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #0063c7;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}
=======
html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #00c785;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}
>>>>>>> 51b563b19c8b82817f04a44d4d25836a38c59802


@font-face {
	font-family: 'kanit-bold';
	src: url('fonts/kanit-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'kanit-extrabold';
	src: url('fonts/kanit-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'kanit-regular';
	src: url('fonts/kanit-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('fonts/montserrat-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-extrabold';
	src: url('fonts/montserrat-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-medium';
	src: url('fonts/montserrat-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-regular';
	src: url('fonts/montserrat-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/montserrat.ttf') format('truetype');
}

